@media screen and (max-width:500px) {
    .bbackground{
        height: 250px;
        width: auto;
        position: relative;
        z-index: 1;
        padding-top: 50px;
    }
    .background{
        height: auto;
    }
    .nnr{
        position: absolute;
        top: 293px;
        z-index: 200;
    }
    .nnr h1{
        margin-left: 10%;
    }
    .nnr p{
        margin-left: 10%;
    }
    .nnr img{
        margin-top: 5%;
    }
}